
<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../module/header.ejs') %>
    <title><%- title %></title>
    <script src="../js/client.js"></script>
  </head>
  <body>
    <%- include('../module/menu.ejs') %>
    <div class="main">
      <div class="title">
        <pre>
반드시 사이트 알림을
허용해야합니다.

설정완료를 누른 기기로
자동 자가진단 알림이 갑니다.

알림을 받지 못하는 기기라도
자동 자가진단은 가능합니다.
        </pre>
      </div>
      <div class="selfcheck">
        <form action="/selfcheck" method="POST">
          <% if (data.onoff === 'ON') { %>
            <a class="onoff">자동자가진단</a> : <input type="radio" name="onoff" value="on" checked/><a id="onoff">ON</a> <input type="radio" name="onoff" value="off"/><a id="onoff">OFF</a><br/>
          <% } else { %>
            <a class="onoff">자동자가진단</a> : <input type="radio" name="onoff" value="on"/><a id="onoff">ON</a> <input type="radio" name="onoff" value="off" checked/><a id="onoff">OFF</a><br/>
          <% } %>
          <a class="time">시간</a> : <input id="time" type="time" name="time" value="<%- data.time %>" required/><br/>

          <input id="submit" class="btn" type="submit" value="설정완료" onclick="return getdb()"/>
        </form>
      </div>
      <div class="data">
        <% if (data.name) { %>
          <div class="data name"><%- data.name %> 님의 자가진단 설정 확인</div>
          <div class="data onoff">자동 자가진단 : <%- data.onoff %></div>
          <% if (data.onoff === 'ON') { %>
            <div class="data time">자동 자가진단 시간 : <%- data.time %></div>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>
